a.close {
  color: teal;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  margin-right: 40px;
}
a.close:hover {
  text-decoration: underline;
  cursor: pointer;
}

.edit-todo {
  position: relative;
  text-align: center;
  border: 1px solid black;
}
