<div class="form-group">
  <form (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input
      type="text"
      name="title"
      [(ngModel)]="title"
      placeholder="{{!isEditing ? 'New Task' : ''}}"
      value="{{!isEditing ? '' : updatedTodo.title }}"
    />
    <br />
    <input type="submit" value="{{!isEditing ? 'Add Task' : 'Edit Task'}}" class="button" />
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="isTodoEmpty">
{{ todoEmptyMessage }}    </div>
  </form>
</div>
