<app-add-todo (addTodo) = "addTodo($event)"></app-add-todo>
<!--We want each todo to be a component, each todo will have its own behaviour-->
<app-todo-items *ngFor="let todo of todos" [todo]="todo" (deleteTodo) = "deleteTodo(todo)">
  <!--We are passing each todo-->
  <div class="alert alert-warning" role="alert" *ngIf="displayFailureMessage">
    {{ failureMessage }}    </div>
</app-todo-items>
<div *ngIf="completedTodos && completedTodos.length > 0">
  <h1>Completed Todos</h1>
  <button class="clr" (click) = "clearAllCompltedTodos()">Clear All</button>
<app-completed-todo *ngFor="let completedTodo of completedTodos" [completedTodo]="completedTodo"></app-completed-todo>
</div>
