<div [ngClass] = "setClass()">
  <p>
    <input type="checkbox" (change) = "onComplete(todo)" />
    {{ todo.title }}
  <button type="button" class="btn btn-default btn-sm" (click)="showEditPopup()">
    <i class="material-icons">&#xe254;</i></button>
    <button class="btn btn-default btn-sm"
    (click) = "onDelete(todo)"><i class="material-icons">&#xe872;</i>
  </button>
  </p>
</div>
<div *ngIf="displayEditPopup">
  <app-edit-todo [displayEditPopup]="displayEditPopup" [todo]="todo" (closeEditPopup)="closeEditPopup($event)" (onEditTodo)="onEditTodo($event)">
  </app-edit-todo>
</div>
